.varer-search {
    display: inline-block;
    float: left;
    width: 402px;
    height: 45px;
    margin: 0 auto;
    padding-left: 55px;
    padding-right: 25px;
    box-shadow: 0 4px 10px -6px #d2d2d2;
    background-color: #f5f5f5;
    border-radius: 2px;
    border: 1px solid #cbcbcb;
    font-family: Montserrat,sans-serif;
    color: #2a2a2a;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .5px;
}

.varer-search-ikon {
    position: absolute;
    top: 42px;
    left: 25px;
    width: 25px;
    height: 25px;
    pointer-events: none;
}

.varer-search-kryds, .varer-search-kryds-alt {
    position: absolute;
    top: 45px;
    left: 468px;
    width: 10px;
    height: 10px;
}