* {
  padding: 0%;
  margin: 0%;
}

body{
  background-color: #EFE9DB;
}

  .overskriftprodu {
  margin-top: 50px;
  margin-bottom: 20px;
} 

.overskriftnyheder {
  margin-bottom: 50px;
}


 .container {
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 2px 2px;
    grid-template-areas:
      "head head head"
      "side main main";
      
  }
  
  .header {
    grid-area: head;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    position: sticky;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0px 4px 33px 1px rgba(209,209,209,1);
    -moz-box-shadow: 0px 4px 33px 1px rgba(209,209,209,1);
    box-shadow: 0px 4px 33px 1px rgba(209,209,209,1);
    border-bottom: solid rgba(158,156,158,0.49);
    }
  
    .kurvimg{
      width: 20px;
      margin-left: 10px;
    }

  .sidebar {
    grid-area: side;
    position: fixed;
    top: 0%;
    width: 14.21em;
    height: 1000px;
    border-right: solid rgba(158,156,158,0.49);
    margin-top: 80px;
        
  }
  
  .content {
    grid-area: main;
    margin-right: 100px;
  }

  .headlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
  }
  
  .headlinks a{
    margin-left: 50px;
    
  }

  .logo img {
   width: auto;
   height: 50px;
   padding-right: 10px;
  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .kategorier {
    text-align: center;
  }

  .katimg {
    width: 30%;
    height: auto;
  }

  .nyheder {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      justify-content: space-evenly;
  }

  .nyeprodukter {
    background-color: red;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  
  .nyeprodukter p {
    margin-bottom: 2px;
    }
  .prisialt {
    margin-top: 20px;
  }

  .nytproducent {
    display: flex;
      flex-direction: row;
      margin-top: 20px;
      justify-content: space-evenly;
  }

  .nyefraproducent {
    background-color: red;
    display: flex;
    flex-direction: column;
    padding: 5px;
    
  }

  /* Generic styles for demo purposes
  -------------------------------------- */
  .container {
    font-family: Helvetica, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container > * {
    background-color: #EFE9DB;
    padding: 1em;
  }
  
  /* Typically, you wouldn't specify a height or min-height on this, instead allowing your actual content (i.e., text, images, etc.) to dictate the height of your content area. But since this example has very minimal content, I've set a min-height to mimic a taller content area. */
  .content {
    min-height: 1000px;
  }
  