 .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 2px 2px;
    grid-template-areas:
      "head head head"
      "side main main";
      
  }
  
  .header {
    grid-area: head;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    
  }
  
  

  .sidebar {
    grid-area: side;
  }
  
  .content {
    grid-area: main;
  }

   .logo {
    width: auto;
    height: 50px;
    
 }
 
 
  .nyheder {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
  }



  /* Generic styles for demo purposes
  -------------------------------------- */
  .container {
    font-family: Helvetica, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container > * {
    background-color: #ccc;
    padding: 1em;
  }
  
  /* Typically, you wouldn't specify a height or min-height on this, instead allowing your actual content (i.e., text, images, etc.) to dictate the height of your content area. But since this example has very minimal content, I've set a min-height to mimic a taller content area. */
  .content {
    min-height: 1000px;
  }
  

  /* Mød producent styling */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  .producent-body{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  }

  .producent-h1{
    margin-left: 25px;
    margin-top: 20x;
    margin-bottom: 40px;
  }

  .producent{
    text-align: center;
  }

  .producent-h2{
    margin-left: 40px;
  }

  .producent-h3{
    color: #4C84AD;
    margin-bottom: -13px;
  }

  .producent-h4{
  margin-left: 10px;
  margin-bottom: -10px;
  font-size: 17px;
  }

  .producent-p{
    margin-left: 5px;
  }

  .producent-foelger{
    display: flex;
    justify-content: center;
    margin-bottom: 250px;
  }

  .producent-ny{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .producent-billede{
    width: 300px;
    margin-left: 10px;
  }