*{
    padding: 0;
    margin: 0;
}
.logo {
    width: auto;
    height: 50px;
}

.katimg{
    width: auto;
    height: 70px;
}
.wrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "sidebar main";
  grid-gap: 1rem;
}
.topnav {
    grid-area: header;
    display: flex;
    flex-direction: row;

}

.sidenav {
    grid-area: sidebar;
    
}
.kategorier{
    display: flex;
    flex-direction: column;
}
.content {
    grid-area: main;
}